<!DOCTYPE html>
<html lang="en">
<head>
  <title>Акция по противодействию концу света</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
</head>
<body id="stop-end-of-the-world">
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter18715423 = new Ya.Metrika({id:18715423,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/18715423" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="container">
  <div class="hero-unit">
    <h1>Остановим конец света!*</h1>
    <br><br>
        <%= link_to(
          {:controller => 'stopper', :action => 'stop_end_of_the_world'},
          { :class => 'btn btn-large btn-primary', :remote => true}
        ) do %>
          Кнопка отмены конца света <i  class="icon-world"></i>
        <% end %>
    <br><br>
    <h2>Уже <span id="counter"><%= Stopper.attempts %></span></h2>
    <br><br>
 </div>
  <div class="row">
    <div class="span12">
      <blockquote>
        <p>Я считаю что надо долбить по кнопке пока конец света не отменится.</p>
        <small>Анонимус, <cite>Руководство пользователя.</cite></small>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Ссылки по теме</h3>
      <ul>
        <li><a href="http://lurkmore.to/2012">http://lurkmore.to/2012.</a></li>
        <li><a href="https://www.youtube.com/watch?v=HWUDSufNso0">Ирвин Ялом. Всмативаясь в солнце.</a></li>
      </ul>
    </div>
    <div class="span4">
      <h3>Поддержка акции</h3>
      <ul>
        <li>
          <a target="_blank"  href="http://vkontakte.ru/share.php?url=http%3A%2F%2Fostanovim-konets-sveta.ru">
             Поделиться в ВКонтакте
           </a>
        </li>
        <li>
          <a target="_blank"  href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fostanovim-konets-sveta.ru">
            Написать в Facebook
           </a>
        </li>
        <li>
          <a target="_blank"  href="http://twitter.com/share?url=http%3A%2F%2Fostanovim-konets-sveta.ru">
            Опубликовать в Twitter    
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p><small>*Акция действительна до 21.12.2012</small></p>
      <p><small> &copy; 2012 <a href="https://github.com/moxorama">Moxorama</a></small></p>
    </div>
  </div>
</div>
</body>
</html>
